<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render 'profiles/profile', metadata_profile: @metadata_profile %>
    <hr class="my-4">
    <div class="flex justify-end items-center">
      <%= button_to 'Delete this profile', account_profile_path(@account, @metadata_profile.id.to_s), method: :delete, class: secondary_btn_classes('px-5 py-2.5', style: :danger) %>
      <%= link_to 'Back to profiles', account_profiles_path(@account), class: secondary_btn_classes('px-5 py-2.5') %>
      <%= yield :profile_form_actions %>
    </div>
  </div>
</div>