<div id="<%= dom_id invoice %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Invoice #:</strong>
    <%= invoice.invoice_number %>
  </p>

  <p class="my-5">
    <% if invoice.invoiceable.is_a?(Account) %>
      <strong class="block font-medium mb-1">Account ID:</strong>
    <% elsif invoice.invoiceable.is_a?(User) %>
      <strong class="block font-medium mb-1">User ID:</strong>
    <% end %>
    <%= invoice.invoiceable&.id %>
  </p>

  <p class="my-5">
    <!-- Render the shared/readonly-textarea partial for invoice.invoiceable pretty json -->
    <%= render('shared/readonly-textarea', id: 'invoice-accounts',
               label: 'Accounts', value: JSON.pretty_generate(invoice.metadata['accounts'])) %>
  </p>

  <p class="my-5">
    <%= render('shared/readonly-textarea', id: 'invoice-payments',
               label: 'Payments', value: JSON.pretty_generate(invoice.payments)) %>
  </p>

  <p class="my-5">
    <%= render('shared/readonly-textarea', id: 'invoice-links',
               label: 'Links', value: JSON.pretty_generate(invoice.links)) %>
  </p>

  <!--
  <p class="my-5">
    <strong class="block font-medium mb-1">Viewed by recipient at:</strong>
  </p>
  -->

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated accounts at:</strong>
    <%= invoice.updated_accounts_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= invoice.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Issued at:</strong>
    <%= invoice.issued_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Due at:</strong>
    <%= invoice.due_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Paid at:</strong>
    <%= invoice.paid_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Due amount:</strong>
    <%= invoice.due_amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= invoice.notes %>
  </p>

  <div class="my-5">
    <%= render "shared/separator-with-text", content: "Metadata" %>
  </div>

  <div class="my-5" data-accordion="collapse">
    <!-- Accordion: Accounts -->
    <h6 id="accordion-collapse-heading-accounts">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-accounts" aria-expanded="true" aria-controls="accordion-collapse-body-accounts">
        <span>Accounts</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h6>
    <div id="accordion-collapse-body-accounts" class="hidden" aria-labelledby="accordion-collapse-heading-accounts">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <%= render('shared/readonly-textarea', id: 'invoice-accounts',
                   label: 'Accounts', value: JSON.pretty_generate(invoice.metadata['accounts'])) %>
      </div>
    </div>

    <!-- Accordion: Payments -->
    <h6 id="accordion-collapse-heading-payments">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-payments" aria-expanded="false" aria-controls="accordion-collapse-body-payments">
        <span>Payments</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h6>
    <div id="accordion-collapse-body-payments" class="hidden" aria-labelledby="accordion-collapse-heading-payments">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <%= render('shared/readonly-textarea', id: 'invoice-payments',
                   label: 'Payments', value: JSON.pretty_generate(invoice.payments)) %>
      </div>
    </div>
  </div>
</div>
