<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @invoice %>
    <hr class="my-4">
    <div class="flex justify-between items-center space-x-4">
      <%= link_to 'Edit this invoice', edit_invoice_path(@invoice), class: "btn btn-primary" %>
      <%= button_to 'Destroy this invoice', invoice_path(@invoice), method: :delete, class: "btn btn-secondary" %>
      <%= link_to 'Back to invoices', invoices_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>