<div id="<%= dom_id product %>" class="bg-white p-6 shadow-sm rounded overflow-hidden">
  <section class="my-5 vendor">
    <h4 class="mb-1" aria-label="product name">
      <%= product.display_name %>
    </h4>
  </section>

  <section class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <div class="trix-content"><%= product.description %></div>
  </section>

  <p class="my-5">
    <strong class="block font-medium mb-1">Vendor:</strong>
    <%= product.vendor.display_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sku:</strong>
    <%= product.sku %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product", product, class: "btn btn-primary" %>
    <%= link_to 'Edit this product', edit_product_path(product), class: "btn btn-secondary" %>
    <hr class="mt-6">
  <% end %>
</div>
