<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @product %>
    <hr class="my-4">
    <div class="flex justify-between items-center space-x-4">
      <%= link_to 'Edit this product', edit_product_path(@product), class: primary_btn_classes %>
      <%= button_to 'Destroy this product',
                    product_path(@product),
                    method: :delete,
                    class: secondary_btn_classes('px-5 py-2.5', style: :danger) %>
      <%= link_to 'Back to products', products_path, class: secondary_btn_classes('px-5 py-2.5') %>
    </div>
  </div>
</div>