<!DOCTYPE html>
<html class="h-full">
  <head>
    <link rel="icon"
          type="image/png"
          href="<%= image_url('logo@1024px.png') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>LarCity :: <%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.jsx' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
    <style>html{visibility: hidden;opacity:0;}</style>
    <%= stylesheet_link_tag 'application',
                            'actiontext', media: 'all' %>
  </head>

  <body class="h-full">
    <% if Flipper.enabled? :feat__navbar_v2 %>
      <%= render "shared/navbar/v2/index" %>
    <% end %>
    <div class="flex flex-col h-screen">
      <% unless Flipper.enabled? :feat__navbar_v2 %>
        <%= render "shared/navbar" %>
      <% end %>
      <%= render "shared/flash" %>
      <main class="container flex flex-col flex-1 px-5 mx-auto mt-0 max-w-screen-xl mb-12">
        <%= yield %>
      </main>
      <%= render "shared/footer/full" %>
    </div>
  </body>
</html>
