<div id="<%= dom_id account %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Display name:</strong>
    <%= account.display_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= account.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= account.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= account.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tax:</strong>
    <%= account.tax_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Readme:</strong>
    <%= account.readme %>
  </p>

</div>
