<div id="<%= dom_id account %>" class="px-0 py-6 overflow-hidden">
  <p class="my-5">
    <strong class="block font-medium mb-1">Business name:</strong>
    <%= account.display_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= account.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Readme:</strong>
    <span class="trix-content"><%= account.readme %></span>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this account", account, class: "btn btn-primary" %>
    <%= link_to 'Edit this account', edit_account_path(account), class: "btn btn-secondary" %>
    <hr class="mt-6">
  <% end %>
</div>
