<%= form_with(model: account, url: account.persisted? ? account_path(account) : accounts_path) do |form| %>
<%= render "shared/error_messages", resource: form.object %>

  <div class="my-5">
    <%= form.label :display_name %>
    <%= form.text_field :display_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :readme %>
    <%= form.rich_text_area :readme, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <hr class="my-4">

  <div class="flex justify-end items-start">
    <%= yield :account_form_actions %>
    <%= form.submit class: primary_btn_classes('px-5 py-3') %>
  </div>
<% end %>
