<%= form_with(model: account, class: "contents") do |form| %>
<%= render "shared/error_messages", resource: form.object %>

<div class="my-5">
  <%= form.label :display_name %>
  <%= form.text_field :display_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :slug %>
  <%= form.text_field :slug, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<!--
  Guide on making select boxes with ease:
  https://guides.rubyonrails.org/form_helpers.html#making-select-boxes-with-ease
  -->
<div class="my-5">
  <%= form.label :status %>
  <%= form.select(:status,
                    options_for_select(account_status_options),
                    {},
                    class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full",
                    disabled: !current_user&.admin?) %>
</div>

<div class="my-5">
  <%= form.label :tax_id, t('labels.accounts.tax_id') %>
  <%= form.text_field :tax_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :readme, t('labels.accounts.notes') %>
  <%= form.rich_text_area :readme, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="inline">
  <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
</div>
<% end %>