<div id="<%= modal_dom_id account %>" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          <%= account.display_name %>
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="<%= modal_dom_id account %>">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <p class="my-5">
          <strong class="block font-medium mb-1">Email:</strong>
          <%= account.email %>
        </p>

        <p class="my-5">
          <strong class="block font-medium mb-1">Readme:</strong>
          <span class="trix-content"><%= account.readme %></span>
        </p>

        <hr class="my-4">
        <div class="flex justify-between items-center space-x-4">
          <%= link_to 'Edit this account', edit_account_path(account), class: primary_btn_classes('px-5 py-2.5') %>
          <%= button_to 'Destroy this account', account_path(account), method: :delete, class: secondary_btn_classes('px-5 py-2.5', style: :danger) %>
          <%= link_to 'Back to accounts', accounts_path, class: secondary_btn_classes('px-5 py-2.5') %>
        </div>
      </div>
    </div>
  </div>
</div>
