<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render 'account', account: @account %>

    <hr class="my-4">
    <div class="flex justify-between items-center">
      <%= link_to 'Back to accounts', accounts_path, class: secondary_btn_classes('px-5 py-2.5') %>
      <%= button_to 'Delete', account_path(@account), method: :delete, class: secondary_btn_classes('px-5 py-2.5', style: :danger) %>
      <%= link_to 'Edit', edit_account_path(@account), class: primary_btn_classes('px-5 py-2.5') %>
      <%= yield :account_form_actions %>
    </div>
  </div>
</div>
